@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800,italic);
img {
  max-width: 100%; }

* {
  font-family: raleway; }

section {
  overflow: hidden; }

h1 {
  color: #ffffff;
  font-size: 60px;
  margin: 0; }

h2 {
  text-transform: uppercase;
  font-size: 48px;
  color: #545454;
  font-weight: 800; }

h3 {
  color: #ffffff;
  font-size: 35px;
  font-style: italic;
  margin: 0; }

p {
  line-height: 200%;
  width: 80%;
  margin: 0 auto 30px; }

.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  position: fixed; }

nav {
  width: 100vw;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 900;
  -webkit-transition: 1.8s ease;
  transition: 1.8s ease; }

nav.hasBackground {
  background-color: #f5a503;
  -webkit-transition: 1.8s ease;
  transition: 1.8s ease;
  z-index: 999; }

.navigation {
  background-color: transparent;
  list-style: none;
  padding: 0;
  margin: 25px 0 0 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end; }
  .navigation .navigation-item {
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 600; }
    .navigation .navigation-item:nth-child(4) {
      margin-right: 50px; }
    .navigation .navigation-item a {
      text-decoration: none;
      color: #ffffff;
      margin: 0 10px;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s; }
    .navigation .navigation-item a:after {
      content: "";
      display: block;
      padding: 10px 0 0 0;
      border-top: 2px solid #999;
      width: 0;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s; }
    .navigation .navigation-item a:hover:after {
      width: 100%;
      border-top: 2px solid #f5a503; }

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around; } }
.home-section {
  background: url("../img/background-homepage.png") no-repeat;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.home-wrap {
  text-align: center; }

.move-down-arrow {
  margin-top: 50px; }

.move-down-btn {
  background: transparent;
  border: none; }
  .move-down-btn:focus {
    outline: 0; }

.about-section {
  height: 870px;
  width: 100%;
  background-color: #262626; }
  .about-section p {
    color: white; }
  .about-section h2 {
    color: white;
    text-align: right;
    margin-right: 50px; }

@keyframes highlight {
  0% {
    color: #626262; }
  100% {
    color: red; } }
@keyframes floating {
  0% {
    transform: translateY(0%); }
  30% {
    transform: translateY(10%); }
  50% {
    transform: translateX(5%); }
  70% {
    transform: translateX(5%); }
  100% {
    transform: translateY(0%); } }
.floating {
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

.pulse {
  animation: pulse 1s infinite ease-in-out alternate;
  animation-delay: 3s; }

@keyframes pulse {
  from {
    transform: scale(0.7); }
  to {
    transform: scale(1.1); } }
.wordcloud-eelco-photo {
  position: absolute;
  bottom: 0;
  top: 9.5em;
  left: 43em;
  height: 375px;
  width: 310px; }

.wordcloud-container {
  width: 100vw;
  height: auto;
  position: relative; }

.wordcloud-big-balloon {
  position: relative;
  width: 544px;
  height: 379px;
  margin-left: 180px;
  background: url("../img/balloon-big.png") no-repeat; }

.wordcloud-smaller-balloons,
.balloon-mid,
.balloon-small,
.wordcloud-item {
  position: absolute; }

.wordcloud-smaller-balloons {
  top: -1em;
  left: 45em; }

.balloon-mid {
  top: 5em;
  right: -5.4em;
  background: url("../img/balloon-mid.png") no-repeat;
  height: 60px;
  width: 82px; }

.balloon-small {
  top: 9em;
  right: -7.7em;
  background: url("../img/balloon-small.png") no-repeat;
  height: 34px;
  width: 38px; }

.skill-html {
  top: 3em;
  left: 3.6em;
  font-size: 60px;
  color: #626262;
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite; }

.skill-scss {
  top: 1em;
  right: 1.8em;
  font-size: 50px;
  color: #626262; }

.skill-css {
  top: 1.5em;
  left: 1.1em;
  font-size: 70px;
  color: #626262; }

.skill-sass {
  top: 7.5em;
  right: 2.7em;
  font-size: 35px;
  color: #626262; }

.skill-php {
  top: 9.3em;
  left: 11em;
  font-size: 27px;
  color: #626262; }

.skill-js {
  top: 0.9em;
  left: 3.1em;
  font-size: 40px;
  color: #626262; }

.skill-git {
  top: 4.2em;
  right: 0.8em;
  font-size: 40px;
  color: #626262; }

.skill-bem {
  top: 4.4em;
  right: 4em;
  font-size: 25px;
  color: #626262; }

.skill-scrum {
  top: 2.7em;
  left: 1.2em;
  font-size: 30px;
  color: #626262; }

.skill-grunt {
  top: 4.7em;
  left: 2em;
  font-size: 50px;
  color: #626262; }

.skill-gulp {
  top: 6.1em;
  left: 4.6em;
  font-size: 30px;
  color: #626262; }

.skill-wp {
  bottom: 1.3em;
  left: 4.6em;
  font-size: 35px;
  color: #626262; }

.skill-ps {
  bottom: 5em;
  left: 1em;
  font-size: 27px;
  color: #626262; }

.skill-responsive {
  top: 5.6em;
  right: 1.4em;
  font-size: 25px;
  color: #626262; }

.skill-command {
  top: 5.8em;
  left: 11.1em;
  font-size: 20px;
  color: #626262; }

.skill-mobile {
  top: 8.4em;
  left: 1.9em;
  font-size: 22px;
  color: #626262; }

.work-section {
  height: auto;
  width: 100%; }
  .work-section h2 {
    text-align: left;
    margin-left: 50px; }

.work-wrap {
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex; }

.bg-image {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 400px;
  height: 400px;
  margin: -2px;
  background-size: 100%;
  text-decoration: none;
  transition: filter 600ms ease;
  -webkit-transition: -webkit-filter 600ms ease; }
  .bg-image:nth-child(1) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/codepamoja-gallery.jpg");
    background-size: cover; }
    .bg-image:nth-child(1):hover {
      background: url("../img/codepamoja-gallery.jpg");
      background-size: cover; }
  .bg-image:nth-child(2) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/ftsf-gallery.jpg");
    background-size: cover; }
    .bg-image:nth-child(2):hover {
      background: url("../img/ftsf-gallery.jpg");
      background-size: cover; }
  .bg-image:nth-child(3) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/competa-gallery.jpg");
    background-size: cover; }
    .bg-image:nth-child(3):hover {
      background: url("../img/competa-gallery.jpg");
      background-size: cover; }
  .bg-image:nth-child(4) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/canon-gallery.jpg");
    background-size: cover; }
    .bg-image:nth-child(4):hover {
      background: url("../img/canon-gallery.jpg");
      background-size: cover; }
  .bg-image:nth-child(5) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/wittedraak-gallery.jpg");
    background-size: cover; }
    .bg-image:nth-child(5):hover {
      background: url("../img/wittedraak-gallery.jpg");
      background-size: cover; }
  .bg-image:nth-child(6) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hhs-gallery.jpg");
    background-size: cover; }
    .bg-image:nth-child(6):hover {
      background: url("../img/hhs-gallery.jpg");
      background-size: cover; }
  .bg-image .work-line {
    text-shadow: 0 0 8px black;
    text-transform: uppercase;
    text-align: center;
    margin: 50px auto 0;
    font-weight: 500;
    font-size: 1.5em;
    width: 55%;
    color: white;
    border-bottom: 2px solid #f5a503;
    padding-bottom: 10px;
    display: block; }
  .bg-image:hover {
    font-size: 1.2em;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out; }
    .bg-image:hover.work-line {
      width: 80%; }

* {
  box-sizing: border-box; }

.work-section {
  height: auto;
  width: 100%; }
  .work-section h2 {
    text-align: left;
    margin-left: 50px; }

.work-gallery-wrap {
  margin-top: 50px;
  width: 90%;
  margin: 50px auto;
  max-width: 1100px; }

.work-item {
  position: relative;
  display: block;
  width: 90%;
  height: 250px;
  margin: 0 auto 2rem;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all .4s ease; }
  @media screen and (min-width: 37.5em) {
    .work-item {
      height: 300px; } }
  @media screen and (min-width: 45em) {
    .work-item {
      display: inline-block;
      width: 45%;
      margin-left: 25px; } }

.work-item__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0; }
  .work-item__overlay:after {
    content: '';
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background-color: #202020;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    transition: all .3s ease; }

.work-item__title {
  position: relative;
  top: -200px;
  margin-bottom: 2rem;
  margin-top: 4rem;
  font-size: 2.25rem;
  font-weight: 100;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3); }

.work-item__link {
  position: relative;
  display: block;
  width: 60%;
  top: 200px;
  padding: 10px;
  margin: 0 auto;
  color: white;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  border-radius: 3px;
  font-size: 1.25em;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3); }
  .work-item__link:hover {
    background-color: white;
    color: #202020; }

.work-item:hover .work-item__title {
  top: 0; }
.work-item:hover .work-item__link {
  top: 0; }
.work-item:hover .work-item__overlay:after {
  opacity: .75; }

.item1 {
  background-image: url("../img/codepamoja-gallery.jpg"); }

.item2 {
  background-image: url("../img/ftsf-gallery.jpg"); }

.item3 {
  background-image: url("../img/competa-gallery.jpg"); }

.item4 {
  background-image: url("../img/canon-gallery.jpg"); }

.item5 {
  background-image: url("../img/wittedraak-gallery.jpg"); }

.item6 {
  background-image: url("../img/hhs-gallery.jpg"); }

.contact-section {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: #DDD;
  padding-bottom: 35px; }
  .contact-section h2 {
    text-align: left;
    margin-left: 50px; }

.contact-wrap {
  width: 80%;
  height: auto;
  margin: 0 auto; }

.contact-left-side {
  width: 48%;
  height: 200px;
  float: left; }
  @media screen and (max-width: 750px) {
    .contact-left-side {
      width: 100%;
      float: none;
      height: 148px; } }

.left-form {
  margin-right: 10px; }
  @media screen and (max-width: 750px) {
    .left-form {
      margin-right: 0px; } }

.contact-right-side {
  width: 49%;
  height: 200px;
  float: left; }
  @media screen and (max-width: 750px) {
    .contact-right-side {
      width: 100%;
      float: none; } }

.right-form {
  margin-left: 10px; }
  @media screen and (max-width: 750px) {
    .right-form {
      margin-left: 0px; } }

.user-details,
.user-comment {
  width: 98%;
  font-size: 12px;
  color: #999;
  border: 2px solid #545454; }
  .user-details:focus,
  .user-comment:focus {
    border: 2px solid #f5a503;
    color: #545454; }

.user-comment {
  height: 123px;
  padding: 7px 0 0 4px; }

.user-details {
  height: 30px;
  margin-bottom: 14px;
  padding-left: 4px; }

.submit {
  width: 20%;
  padding: 0;
  font-size: 12px;
  background: #f5a503;
  height: 40px;
  text-transform: uppercase;
  color: #FFF;
  border: 2px solid #545454; }
  @media screen and (max-width: 750px) {
    .submit {
      margin-top: 142px; } }

.footer {
  height: 52px;
  width: 100%;
  background-color: #262626; }
  .footer .social-icons {
    float: right;
    color: #f5a503;
    text-decoration: none;
    padding: 10px; }
    .footer .social-icons:nth-child(1) {
      margin-right: 30px; }

/*# sourceMappingURL=style.css.map */
