@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800,italic);
* {
  font-family: raleway; }

section {
  overflow: hidden; }

h1 {
  color: #ffffff;
  font-size: 60px;
  margin: 0; }

h2 {
  text-transform: uppercase;
  font-size: 48px;
  color: #545454;
  font-weight: 800; }

h3 {
  color: #ffffff;
  font-size: 35px;
  font-style: italic;
  margin: 0; }

p {
  line-height: 200%;
  width: 80%;
  margin: 0 auto 30px; }

.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  position: fixed; }

nav {
  width: 100vw;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 900;
  -webkit-transition: 2.2s ease; }

nav.hasBackground {
  background-color: #f5a503;
  -webkit-transition: 2.2s ease;
  z-index: 999; }

.navigation {
  background-color: transparent;
  list-style: none;
  padding: 0;
  margin: 25px 0 0 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end; }
  .navigation .navigation-item {
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 600; }
    .navigation .navigation-item:nth-child(4) {
      margin-right: 50px; }
    .navigation .navigation-item a {
      text-decoration: none;
      color: #ffffff;
      margin: 0 10px;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s; }
    .navigation .navigation-item a:after {
      content: "";
      display: block;
      padding: 10px 0 0 0;
      border-top: 2px solid #999;
      width: 0;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s; }
    .navigation .navigation-item a:hover:after {
      width: 100%;
      border-top: 2px solid #f5a503; }

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around; } }
.home-section {
  background: url("../img/background-homepage.png") no-repeat;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.home-wrap {
  text-align: center; }

.scroll-down {
  margin-top: 50px; }

.about-section {
  height: auto;
  width: 100%;
  margin: 0 auto; }
  .about-section h2 {
    text-align: left;
    margin-left: 50px; }

.about-wrap {
  display: flex; }

.skills-container {
  width: auto;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column; }

.skills-item {
  background: #f5a503;
  padding: 5px;
  width: 300px;
  height: 20px;
  margin-top: 10px;
  color: white;
  font-weight: 800;
  font-size: 17px;
  text-align: left; }

.skills-item:nth-child(2) {
  width: 200px; }

.bio-image {
  flex: 1;
  background: url("../img/eelco-poelstra.png") no-repeat;
  background-size: contain;
  margin: 0 auto; }

.work-section {
  height: auto;
  width: 100%;
  background-color: #262626; }
  .work-section p {
    color: white; }
  .work-section h2 {
    color: white;
    text-align: right;
    margin-right: 50px; }

.work-wrap {
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex; }

.bg-image {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 400px;
  height: 300px;
  margin: -2px;
  background-size: 100%;
  text-decoration: none;
  transition: filter 600ms ease;
  -webkit-transition: -webkit-filter 600ms ease; }
  .bg-image:nth-child(1) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/codepamoja-gallery.jpg");
    background-size: cover; }
    .bg-image:nth-child(1):hover {
      background: url("../img/codepamoja-gallery.jpg");
      background-size: cover; }
  .bg-image:nth-child(2) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/ftsf-gallery.jpg");
    background-size: cover; }
    .bg-image:nth-child(2):hover {
      background: url("../img/ftsf-gallery.jpg");
      background-size: cover; }
  .bg-image:nth-child(3) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/competa-gallery.jpg");
    background-size: cover; }
    .bg-image:nth-child(3):hover {
      background: url("../img/competa-gallery.jpg");
      background-size: cover; }
  .bg-image:nth-child(4) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/canon-gallery.jpg");
    background-size: cover; }
    .bg-image:nth-child(4):hover {
      background: url("../img/canon-gallery.jpg");
      background-size: cover; }
  .bg-image:nth-child(5) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/wittedraak-gallery.jpg");
    background-size: cover; }
    .bg-image:nth-child(5):hover {
      background: url("../img/wittedraak-gallery.jpg");
      background-size: cover; }
  .bg-image:nth-child(6) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hhs-gallery.jpg");
    background-size: cover; }
    .bg-image:nth-child(6):hover {
      background: url("../img/hhs-gallery.jpg");
      background-size: cover; }
  .bg-image .work-line {
    text-shadow: 0 0 8px black;
    text-transform: uppercase;
    text-align: center;
    margin: 50px auto 0;
    font-weight: 500;
    font-size: 1.8em;
    width: 100%;
    color: white;
    border-bottom: 2px solid #fb0a4e;
    padding-bottom: 10px;
    display: block; }
    .bg-image .work-line:hover {
      width: 80%;
      font-size: 2.5em; }

.contact-section {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: #DDD; }
  .contact-section h2 {
    text-align: left;
    margin-left: 50px; }

.form-wrap {
  width: 40%;
  height: auto;
  padding: 0;
  margin: 0 0 40px 50px; }

.register-input {
  width: 100%;
  height: 30px;
  font-size: 12px;
  color: #999;
  border: 2px solid #545454;
  margin-bottom: 25px;
  padding-left: 2px; }
  .register-input:focus {
    border: 2px solid #f5a503;
    color: #545454; }

.contact-form textarea {
  height: 150px;
  resize: none;
  padding-left: 1px; }

.submit {
  width: 20%;
  padding: 0;
  font-size: 12px;
  background: #f5a503;
  height: 40px;
  text-transform: uppercase;
  color: #FFF;
  border: 2px solid #545454; }

.footer {
  height: auto;
  width: 100%;
  background-color: #262626; }

.footer-wrap {
  width: 100%;
  height: auto;
  text-align: center;
  display: inline-block;
  color: #f5a503; }
  .footer-wrap a {
    text-decoration: none;
    color: #f5a503; }

.social-icons {
  padding: 10px 6px; }

/*# sourceMappingURL=style.css.map */
