.about-section {
	height: 870px;
	width: 100%;
	background-color: #262626;	
    p {
        color: white;       
    }
    h2 {
        color: white;
        text-align: right;
        margin-right: 50px;
    }
}

@keyframes highlight {
    0% {
    	color: #626262;
    }
    100% {
    	color: red;
    }
}

@keyframes floating {
    0% {
        transform: translateY(0%);   
    }
    30% {
        transform: translateY(10%); 
    }  
    50% {
    	transform: translateX(5%); 
    }   
    70% {
    	transform: translateX(5%); 
    } 
    100% {
    	transform: translateY(0%); 
    } 
}

.floating {
    animation-name: floating;
    -webkit-animation-name: floating;
    animation-duration: 5s;   
    -webkit-animation-duration: 5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.pulse {
  animation: pulse 1s infinite ease-in-out alternate;
  animation-delay: 3s;
}
@keyframes pulse {
  from { transform: scale(0.7); }
  to { transform: scale(1.1); }
}

.wordcloud-eelco-photo {
    position: absolute;
    bottom: 0;
    top: 9.5em;
    left: 43em;
    height: 375px;
    width: 310px;
}

.wordcloud-container {
	width: 100vw;
	height: auto;
	position: relative;	
}

.wordcloud-big-balloon {
	position: relative;
	width: 544px;
 	height: 379px;
 	margin-left: 180px;
 	background: url("../img/balloon-big.png") no-repeat;
}

.wordcloud-smaller-balloons,
.balloon-mid,
.balloon-small,
.wordcloud-item {
	position: absolute;
}

.wordcloud-smaller-balloons {
	top: -1em;
	left: 45em;
}

.balloon-mid {
	top: 5em;
	right: -5.4em;
	background: url("../img/balloon-mid.png") no-repeat;	
    height: 60px;
    width: 82px;	
}

.balloon-small {
	top: 9em;
	right: -7.7em;	
	background: url("../img/balloon-small.png") no-repeat;
    height: 34px;
    width: 38px;	
}

.skill-html {
	top: 3em;
	left: 3.6em;
	font-size: 60px;
	color: #626262;	
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.skill-scss {
	top: 1em;
	right: 1.8em;
	font-size: 50px;
	color: #626262;	
}

.skill-css {
	top: 1.5em;
	left: 1.1em;
	font-size: 70px;
	color: #626262;
}

.skill-sass {
	top: 7.5em;
	right: 2.7em;
	font-size: 35px;
	color: #626262;	
}

.skill-php {
	top: 9.3em;
	left: 11em;
	font-size: 27px;
	color: #626262;
}

.skill-js {
	top: 0.9em;
	left: 3.1em;
	font-size: 40px;
	color: #626262;
}

.skill-git {
	top: 4.2em;
	right: 0.8em;
	font-size: 40px;
	color: #626262;
}

.skill-bem {
	top: 4.4em;
	right: 4em;
	font-size: 25px;
	color: #626262;
}

.skill-scrum {
	top: 2.7em;
	left: 1.2em;
	font-size: 30px;
	color: #626262;
}

.skill-grunt {
	top: 4.7em;
	left: 2em;
	font-size: 50px;
	color: #626262;
}

.skill-gulp {
	top: 6.1em;
	left: 4.6em;
	font-size: 30px;
	color: #626262;
}

.skill-wp {
	bottom: 1.3em;
	left: 4.6em;
	font-size: 35px;
	color: #626262;
}

.skill-ps {
	bottom: 5em;
	left: 1em;
	font-size: 27px;
	color: #626262;
}

.skill-responsive {
	top: 5.6em;
	right: 1.4em;
	font-size: 25px;
	color: #626262;
}

.skill-command {
	top: 5.8em;
	left: 11.1em;
	font-size: 20px;
	color: #626262;
}

.skill-mobile {
	top: 8.4em;
	left: 1.9em;
	font-size: 22px;
	color: #626262;
}
