.contact-section {
	width:100%; 
	height: auto; 
	margin: 0 auto; 
	padding-bottom: 35px;
	h2 {
		text-align: left;
		margin-left: 50px;		
	}	
}

.contact-wrap {
	width: 80%;
	height: auto;
	margin: 0 auto;
}

.contact-left-side {
	width: 48%;
	height: 200px;
	float: left;
	@media screen and (max-width: 750px) {
		width: 100%;
		float: none;
		height: 128px;
	}	
}

.left-form {
	margin-right: 10px;
	@media screen and (max-width: 750px) {
		margin-right: 0px;
	}		
}

.contact-right-side {
	width: 49%;
	height: 200px;
	float: left;
	@media screen and (max-width: 750px) {
		width: 100%;
		float: none;
	}	
}

.right-form {
	margin-left: 10px;
	@media screen and (max-width: 750px) {
		margin-left: 0px;
	}		
}

.user-details,
.user-comment {
	width: 98%;
	font-size: 13px;
	color: #000;
	border: 2px solid #545454;
	&:focus{
	border: 2px solid #f5a503;
	color: #545454;		
	}
}

.user-comment {
	height: 123px;
	padding: 7px 0 0 4px;
	resize: none;
}

.user-details {
	height: 30px;	
	margin-bottom: 14px;
	padding-left: 4px;
}

.submit {
	width: 20%;
	padding: 0;
	font-size: 12px;
	background: #f5a503;
	height:40px;
	text-transform: uppercase;
	color: #FFF;
	border: 2px solid #545454;
	@media screen and (max-width: 750px) {
		margin-top: 140px;
	}		
}