.footer {
	height: auto;
	width: 100%;
	background-color: #262626;	
}

.footer-wrap {
	width: 100%;
	height: auto;
	text-align: center;
	display: inline-block;
	color: #f5a503;
	a {
		text-decoration: none;
		color: #f5a503;
	}
}

.social-icons {
	padding: 10px 6px;
}


//   width: 100%
//   height: auto
//   text-align: center
//   display: inline-block
//   color: $orange

// .social-icons
// padding: 0 6px 20px