.footer {
	height: 52px;
	width: 100%;
	background-color: #262626;	
	.social-icons {
		float: right;
		color: #f5a503;
		text-decoration: none;
		padding: 10px;
		&:nth-child(1) {
			margin-right: 30px;
		}		
	}
}
